<!-- About Me Subpage -->
<section class="pt-page pt-page-2" data-id="about_me">
    <div class="border-block-top-110"></div>
    <div class="section-inner">
      <div class="section-title-block">
        <div class="section-title-wrapper clearfix">
          <h2 class="section-title">About Me</h2>
          <h5 class="section-description">Organised, Efficient, Self Motivated</h5>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
          <div class="my-photo-block tilt-effect">
            <img src="{{ url_for('static', path='/images/photo.jpg') }}" alt="">
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4" align="justify">
          <h3>Python Developer | Project Coordinator</h3>
          <p>Thank you for checking out my profile, here is a quick overview of my skills and strengths. I am a Python developer cum Scrum master, have worked in IT Industry for over 4 years as a Project Coordinator and as a scrum master for companies such as Metlife, Cardekho & GirnarSoft.</p>
          <p>Also, I have written multiple scraping scripts and developed scraping bots to automate daily activities and built web applications.</p>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
          <ul class="info-list">
            <!-- <li><span class="title">Age</span><span class="value">29</span></li> -->
            <li><span class="title">Residence</span><span class="value">India</span></li>
            <li><span class="title">Address</span><span class="value">Jaipur, India</span></li>
            <li><span class="title">e-mail</span><span class="value"><a href="mailto:vikasrajoria@outlook.com"><span class="__cf_email__" data-cfemail="2a4f474b43466a4f524b475a464f04494547">mail me</span></a></span></li>
            <li><span class="title">Phone</span><span class="value">+91-8107187335</span></li>
            <li><span class="title">Skype</span><span class="value">vikasrajoria</span></li>
            <li><span class="title">Freelance</span><span class="value available">Available</span></li>
          </ul>

          <ul class="social-links">
            <!-- Full list of social icons: http://fontawesome.io/icons/#brand -->
            <li><a class="tip social-button" href="#" title="Google Plus"><i class="fa fa-linkedin"></i></a></li>
            <li><a class="tip social-button" href="#" title="Facebook"><i class="fa fa-github"></i></a></li>
            <li><a class="tip social-button" href="#" title="Youtube"><i class="fa fa-telegram"></i></a></li>
            <li><a class="tip social-button" href="#" title="Youtube"><i class="fa fa-youtube"></i></a></li>
            <li><a class="tip social-button" href="#" title="Instagram"><i class="fa fa-instagram"></i></a></li>

          </ul>
        </div>
      </div>

     <!-- Services block -->
      <div class="block-title">
        <h3>Services</h3>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-3 subpage-block">
          <div class="service-block"> 
            <div class="service-info">
              <!-- full list of icons https://www.flaticon.com/search?word=bot&order_by=4  -->
              <img src="{{ url_for('static', path='/images/service/soft.png') }}" alt="Responsive Design">
              <h4>Web Development</h4>
              <p>Responsive Design, Landing pages, Websites, Product Site Development</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 subpage-block">
          <div class="service-block"> 
            <div class="service-info">
              <img src="{{ url_for('static', path='/images/service/api.png') }}" alt="Photography">
              <h4>API Development</h4>
              <p>Backend API development, API integration, API Route.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 subpage-block">
          <div class="service-block"> 
            <div class="service-info">
              <img src="{{ url_for('static', path='/images/service/bot.png') }}" alt="Creativity">
              <h4>Scraping Bots</h4>
              <p>Web scraping tools, E-commerce bot, Auto image scraper, Real-easte Scraper.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 subpage-block">
          <div class="service-block"> 
            <div class="service-info">
              <img src="{{ url_for('static', path='/images/service/data_mining.png') }}" alt="Advetising">
              <h4>Data Mining</h4>
              <p>Market research, Data collection, Data storage, Lead Generation.</p>
            </div>
          </div>
        </div>
      </div>
      <!-- End of Services block -->

      <!-- Clients block -->
      <!-- <div class="block-title">
        <h3>Clients</h3>
      </div> -->

      <!-- <div class="row">
        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client-block">
            <a href="#" target="_blank"><img src="{{ url_for('static', path='/images/clients/client_1.png') }}" alt="image"></a>
          </div>
        </div>

        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client-block">
            <a href="#" target="_blank"><img src="{{ url_for('static', path='/images/clients/client_2.png') }}" alt="image"></a>
          </div>
        </div>

        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client-block">
            <a href="#" target="_blank"><img src="{{ url_for('static', path='/images/clients/client_3.png') }}" alt="image"></a>
          </div>
        </div>

        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client-block">
            <a href="#" target="_blank"><img src="{{ url_for('static', path='/images/clients/client_4.png') }}" alt="image"></a>
          </div>
        </div>

        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client-block">
            <a href="#" target="_blank"><img src="{{ url_for('static', path='/images/clients/client_5.png') }}" alt="image"></a>
          </div>
        </div>

        <div class="col-sm-4 col-md-2 subpage-block">
          <div class="client-block">
            <a href="#" target="_blank"><img src="{{ url_for('static', path='/images/clients/client_6.png') }}" alt="image"></a>
          </div>
        </div>
      </div> -->
      <!-- End of Clients block -->

   
      <!-- Fun facts block -->
      <!-- <div class="block-title">
        <h3>Fun Facts</h3>
      </div> -->

      <!-- <div class="row">
        <div class="col-sm-6 col-md-3 subpage-block">
          <div class="fun-fact-block gray-bg tilt-effect">
            <i class="pe-7s-icon pe-7s-smile"></i>
            <h4>Happy Clients</h4>
            <span class="fun-value">1,024</span>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
          <div class="fun-fact-block">
            <i class="pe-7s-icon pe-7s-alarm"></i>
            <h4>Working Hours</h4>
            <span class="fun-value">6,256</span>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
          <div class="fun-fact-block gray-bg">
            <i class="pe-7s-icon pe-7s-medal"></i>
            <h4>Awards Won</h4>
            <span class="fun-value">21</span>
          </div>
        </div>

        <div class="col-sm-6 col-md-3 subpage-block tilt-effect">
          <div class="fun-fact-block">
            <i class="pe-7s-icon pe-7s-coffee"></i>
            <h4>Coffee Consumed</h4>
            <span class="fun-value">20,000</span>
          </div>
        </div>
      </div> -->
      <!-- End of Fun fucts block -->
    </div>
  </section>
  <!-- End of About Me Subpage -->