 <!-- Resume Subpage -->
 <section class="pt-page pt-page-3" data-id="resume">
    <div class="border-block-top-110"></div>
    <div class="section-inner">
      <div class="section-title-block">
        <div class="section-title-wrapper">
          <h2 class="section-title">Resume</h2>
          <h5 class="section-description">4+ Years of Experience</h5>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-4 subpage-block">
          <div class="block-title">
            <h3>Certifications</h3>
          </div>
          <div class="timeline">
            <!-- Single event -->
             <div class="timeline-event te-primary">
              <h5 class="event-date">Aug, 2021</h5>
              <h4 class="event-name">Project management</h4>
              <span class="event-description">Simplilearn</span>
              <p>Introduction to Project management.</p>
            </div>
             <!-- Single event -->
            <div class="timeline-event te-primary">
              <h5 class="event-date">April, 2020</h5>
              <h4 class="event-name">Introduction to Programming</h4>
              <span class="event-description">Eduonix</span>
              <p>Introduction to Programming Using Python</p>
            </div>
            <!-- Single event -->
            <div class="timeline-event te-primary">
              <h5 class="event-date">April, 2020</h5>
              <h4 class="event-name">Python for Data Science</h4>
              <span class="event-description">Coursera</span>
              <p>Python for Data Science, AI & Development</p>
            </div>
            <!-- Single event -->
            <div class="timeline-event te-primary">
              <h5 class="event-date">Oct, 2020</h5>
              <h4 class="event-name">Data Analysis</h4>
              <span class="event-description">Jovian</span>
              <p>Data Analysis with Python.</p>
            </div>
           
          </div>
        </div>

        <div class="col-sm-6 col-md-4 subpage-block">
          <div class="block-title">
            <h3>Experience</h3>
          </div>
          <div class="timeline">
            <!-- Single event -->
            <div class="timeline-event te-primary">
              <h5 class="event-date">March 2022 -Sep 2022</h5>
              <h4 class="event-name">Scrum Master</h4>
              <span class="event-description">BPKTech</span>
              <p>Agile, Scrum, Azure DevOps, Python.</p>
            </div>
            <!-- Single event -->
            <div class="timeline-event te-primary">
              <h5 class="event-date">April 2021 - March 2022</h5>
              <h4 class="event-name">Delivery Manager</h4>
              <span class="event-description">SnyapseIndia</span>
              <p>Project Management, Software Development</p>
            </div>
            <!-- Single event -->
            <div class="timeline-event te-primary">
              <h5 class="event-date">Aug 2019 - March 2021</h5>
              <h4 class="event-name">IT Project Coordinator</h4>
              <span class="event-description">Metlife</span>
              <p>Service Now, IT infra Maintainance.</p>
            </div>
            <!-- Single event -->
            <div class="timeline-event te-primary">
              <h5 class="event-date">Jan 2018 - July 2019</h5>
              <h4 class="event-name">Analyst</h4>
              <span class="event-description">Cardekho</span>
              <p>Data collection, CRM, Client communication.</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-4 subpage-block">
          <div class="block-title">
            <h3>Project Management Skills</h3>
          </div>
          <div class="skills-info">
            <h4>Team Handling</h4>                               
            <div class="skill-container">
              <div class="skill-percentage skill-1"></div>
            </div>

            <h4>Stack Holder Management</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-2"></div>
            </div>

            <h4>Client Management</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-3"></div>
            </div> 
          </div>

          <div class="block-title">
            <h3>Coding Skills</h3>
          </div>
          <div class="skills-info">
            <h4>Python</h4>                               
            <div class="skill-container">
              <div class="skill-percentage skill-5"></div>
              <!-- <div class="skill-percentage skill-4"></div> -->
            </div>

            <h4>FastAPI</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-6"></div>
              <!-- <div class="skill-percentage skill-5"></div> -->
            </div>

            <h4>Postgres</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-7"></div>
              <!-- <div class="skill-percentage skill-6"></div> -->
            </div>

            <!-- <h4>Jinja Template</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-7"></div>
            </div> -->

            <h4>HTML</h4>
            <div class="skill-container">
              <div class="skill-percentage skill-8"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="download-cv-block">
            <a class="button" target="_blank" href="#">Download CV</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Resume Subpage -->